@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none!important;
}

.invisible {
  visibility: hidden;
}

.alignright {
  text-align: right;
}

body {
  margin: 50px;
  font-family: 'Roboto Mono', monospace;
  background: #000;
  color: rgba(255,255,255,0.9);
}

.budget {
  width: 99ch;
  margin: 20px auto;
  display: block;
  --borderradius: 15px;
  border-radius: var(--borderradius);
}

.budget > header {
  border-top-left-radius: var(--borderradius);
  border-top-right-radius: var(--borderradius);
}

.budget > footer {
  border-bottom-left-radius: var(--borderradius);
  border-bottom-right-radius: var(--borderradius);
}

ul.root > li > .props {
  padding-top: 1ch;
  padding-bottom: 1ch;
}

li.line {
  background: rgba(255,255,255,0.1);
}

.budget > header {
  background: rgba(255,255,255,0.15);
}

.props,
.budget > header {
  padding: 0 0 0 2ch;
}

.budget span[class^="col"] {
  padding-right: 1ch;
  display: inline-block;
  overflow: hidden;
}

.budget header > span {
  text-align: center;
}

.budget .col1 { width: 8ch; }
.budget .col2 { width: 14ch; }
.budget .col3 { width: 4ch; }
.budget .col4 { width: 3ch; }
.budget .col5 { width: 10ch; }
.budget .col6 { width: 2ch; }
.budget .col7 { width: 10ch; }
.budget .col8 { width: 10ch; }
.budget .col9 { width: 3ch; }
.budget .col10 { width: 23ch; }

.props > .col10 > span::before {
  content: "| "
}

.props > .col10 > span {
  padding-right: 1ch;
  font-weight: bold;
  cursor: pointer;
}

.props > .col10 > span:hover {
  color: green;
}

.grandtotal {
  padding: 1ch 0;
  background: rgba(255,255,255,0.1);
}

.grandtotal .title {
  width: 59ch;
  display: inline-block;
}

.grandtotal .amount {
  width: 10ch;
  padding-left: 1ch;
  display: inline-block;
}

.grandtotal .currency {
  width: 3ch;
  padding-left: 1ch;
}

#export {
  margin: 20px 0 0;
  text-align: center;
}

#export > span {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

#export > span:hover {
  color: yellow;
}

pre {
  background: rgba(255,255,255,0.1);
  max-height: 400px;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.2rem;
  text-align: left;
  overflow-x: auto;
}

body > header {
  height: 100px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

body > header strong {
  cursor: pointer;
}

body > header strong:hover {
  color: red;
}
