@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.hidden {
  display: none!important;
}

.invisible {
  visibility: hidden;
}

.alignright {
  text-align: right;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  background: #000;
  color: rgba(255,255,255,0.9);
  /*background: linear-gradient(135deg, rgba(0,68,170,1) 0%, rgba(187,0,187,1) 100%);*/
}

.budget {
  width: 100%;
  max-width: 1800px;
  margin: 20px auto;
  display: block;
  --borderradius: 0;
  --width-col1: 9ch; /* index */
  --width-col2: 14ch; /* title */
  --width-col3: 4ch; /* unitNumber */
  --width-col4: 5ch; /* unitType */
  --width-col5: 10ch; /* unitCost */
  --width-col6: 3ch; /* frequency */
  --width-col7: 12ch; /* cost */
  --width-col8: 12ch; /* total */
  --width-col9: 5ch; /* currency */
  --width-col10: 26ch; /* tools */
  border-radius: var(--borderradius);
  text-align: center;
}

.budget > .root {
  text-align: left;
}

.budget > header {
  border-top-left-radius: var(--borderradius);
  border-top-right-radius: var(--borderradius);
}

.budget > footer {
  height: 70px;
  border-bottom-left-radius: var(--borderradius);
  border-bottom-right-radius: var(--borderradius);
}

.budget > button {
  width: 500px;
  margin: 20px;
  padding: 12px;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.budget > button:hover {
  background: green;
  color: #fff;
}

ul.root > li.line > .props {
  height: 70px;
  display: flex;
  align-items: stretch;
}

.budget > ul.root > li.line > .props > div > span {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.budget > ul.root > li.line > .props > div.alignright > span {
  justify-content: flex-end;
}

ul.root > li.line > .props,
li.line.level1 > .props {
  font-weight: bold;
}

.budget > header {
  background: rgba(255,255,255,0.15);
}

.props {
  margin: 2px 0;
  background-color: rgba(255,255,255,0.5);

}

.props,
.budget > header {
  padding: 0 0 0 2ch;
  display: flex;
  align-items: center;
}

.budget *[class^="col"] {
  overflow: hidden;
}

.budget *[class^="col"] > span {
  height: 100%;
  padding: 1ch 1ch;
  display: block;
}

.budget header > span {
  text-align: center;
}

.budget .col1 { width: var(--width-col1); }
.budget .col2 { width: var(--width-col2); flex-grow: 1; }
.budget .col3 { width: var(--width-col3); }
.budget .col4 { width: var(--width-col4); }
.budget .col5 { width: var(--width-col5); }
.budget .col6 { width: var(--width-col6); }
.budget .col7 { width: var(--width-col7); }
.budget .col8 { width: var(--width-col8); }
.budget .col9 { width: var(--width-col9); }
.budget .col10 { width: var(--width-col10); }

.props > .col10,
.budget > header > .col10 {
  margin-left: 2ch;
  padding-left: calc(2ch - 1px);
  border-left: 1px solid rgba(255,255,255,0.3);
  display: flex;
}

.budget > header > .col10 {
  justify-content: center;
}

.props > .col10 > span {
  font-weight: bold;
  cursor: pointer;
}

.tools .button.add {
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}

ul.root > li.line > .props > .tools .button.delete,
.hide-add-button .tools .button.add {
  display: none;
}

.props > .col10 > .delete:hover {
  background-color: red;
  color: #fff;
}

.props > .col10 > .add:hover {
  background-color: green;
  color: #fff;
}

ul.root > li.line > .props > .index {
  visibility: hidden;
}

.props > * {
  color: rgba(255,255,255,0.6);
}

.props > .editable > span {
  color: rgba(255,255,255,0.9);
  cursor: pointer;
}

.props > .editable > span:hover {
  background: rgba(255,255,255,0.5);
}


.props > .editable.editing {
  cursor: text;
}

.props > .editable.editing:hover {
  background: none;
}

.props > div.editing > span {
  display: none;
}

.editing input {
  width: 100%;
  height: calc(100% - 1ch);
  padding: 1ch 1ch;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}

.editing.alignright input {
  text-align: right;
}

.overhead > span {
  padding-right: 50px;
}

/* --- Grand total row --- */

.grandtotal {
  padding: 0 calc(var(--width-col9) + var(--width-col10));
  background: rgba(255,255,255,0.1);
  display: flex;
  justify-content: flex-end;
}

.grandtotal .title {
  display: inline-block;
  display: flex;
  align-items: center;
}

.grandtotal .amount {
  width: 10ch;
  padding: 0 1ch;
  display: inline-block;
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grandtotal .currency {
  width: 3ch;
  padding-left: 1ch;
  display: flex;
  align-items: center;
}

#export {
  margin: 20px 0 0;
  text-align: center;
}

#export > span {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

#export > span:hover {
  color: yellow;
}

pre {
  background: rgba(255,255,255,0.1);
  max-height: 400px;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.2rem;
  text-align: left;
  overflow-x: auto;
}

body > header {
  margin: 40px auto;
  text-align: center;
}

body > header h1 {

}

body > header h2 {
  color: rgba(255,255,255,0.6);
}

body > footer {
  height: 100px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

body > footer strong {
  cursor: pointer;
}

body > footer strong:hover {
  color: yellow;
}

body > footer {
  text-align: center;
  color: rgba(255,255,255,0.6);
}
